<section>
    <div class="container-fluid" style="margin-left: -20px; margin-right: -20px; margin-top: 25px;">
        <div id="signup">
            <h1>Sign Up</h1>
        </div>
    </div>

    <div class="container">

        <h3>Create Your Safety Leaf Account</h3>
        <h4>Company</h4>

        <form [formGroup] = "registerForm" (ngSubmit)="submitRegistration(registerForm)" class="form-horizontal" role="form" >
            <div class="form-group">
                <label class="control-label col-sm-2" for="inputName"><small>Company Name</small></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputName" placeholder="Enter your Company Name"
                           formControlName="companyName">
                    <!--<small [hidden]="registerForm.controls.companyName.valid || (registerForm.controls.companyName.pristine && !submitted)" class="text-danger">-->
                        <!--Name is required (minimum 5 characters).-->
                    <!--</small>-->
                    <div class='error' *ngIf="registerForm.controls.companyName.touched">
                        <em *ngIf="registerForm.controls.companyName.errors" style="color: red;">You can't leave this empty.!</em>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputCountry"><small>Country</small> </label>
                <div class="col-sm-4">
                    <select class="form-control" id="inputCountry" placeholder="India"
                           formControlName="country" (change)="onChange($event.target.value)">
                        <option *ngFor="let listIteam of countriesList" [value]="listIteam.dial_code">
                            {{listIteam.name}}
                        </option>
                    </select>
                    <div class='error' *ngIf="registerForm.controls.country.touched">
                    <em *ngIf="registerForm.controls.country.errors" style="color: red;"> Required!</em>
                        </div>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="inputURL"><small>Your Safety Leaf URL</small></label>
                <div class="col-sm-1" style="margin-left: -10px; padding-top: 7px; margin-right: -50px; color: #595959;"><small>https://</small></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputURL" placeholder=""
                           formControlName="url">
                    <!--<small [hidden]="registerForm.controls.url.valid || (registerForm.controls.url.pristine && !submitted)" class="text-danger">-->
                        <!--Required.-->
                    <!--</small>-->
                    <div class='error' *ngIf="registerForm.controls.url.touched">
                    <em *ngIf="registerForm.controls.url.errors" style="color: red;">Required!</em>
                        </div>
                </div>
                <div class="col-sm-1" style="padding-top: 7px; color: #595959; margin-left: -25px;"><small>.safetyleaf.com</small></div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputProfile"><small>Company Profile</small></label>
                <div class="col-sm-4">
                    <select class="form-control" id="inputProfile" placeholder="Select Company Profile"
                            formControlName="companyProfile">
                        <option *ngFor="let listIteam of companyList">
                            {{listIteam}}
                        </option>
                    </select>

                    <!--<input type="text" class="form-control" id="inputProfile" placeholder="Select Company Profile"-->
                           <!--formControlName="companyProfile">-->
                    <!--<small [hidden]="registerForm.controls.companyProfile.valid || (registerForm.controls.companyProfile.pristine && !submitted)" class="text-danger">-->
                        <!--Required.-->
                    <!--</small>-->
                    <div class='error' *ngIf="registerForm.controls.companyProfile.touched">
                    <em *ngIf="registerForm.controls.companyProfile.errors" style="color: red;">Required!</em>
                        </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputNumber"><small>Number of Employees</small></label>
                <div class="col-sm-5">

                    <select class="form-control" id="inputNumber" placeholder="Select Number of Employees"
                            formControlName="employees">
                        <option *ngFor="let listIteam of employeeList">
                            {{listIteam}}
                        </option>
                    </select>
                    <!--<input type="text" class="form-control" id="inputNumber" placeholder="Select Number of Employees"-->
                           <!--formControlName="employees">-->

                    <div class='error' *ngIf="registerForm.controls.employees.touched">
                    <em *ngIf="registerForm.controls.employees.errors" style="color: red;">Required!</em>
                        </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputDescribe"><small>Describe yourself?</small></label>
                <div class="col-sm-5">

                    <select class="form-control" id="inputDescribe" placeholder="Select from the list"
                            formControlName="describe">
                        <option *ngFor="let listIteam of describeList">
                            {{listIteam}}
                        </option>
                    </select>
                    <!--<input type="text" class="form-control" id="inputDescribe" placeholder="Select from the list"-->
                           <!--formControlName="describe">-->
                    <!--<small [hidden]="registerForm.controls.describe.valid || (registerForm.controls.describe.pristine && !submitted)" class="text-danger">-->
                        <!--Required.-->
                    <!--</small>-->
                    <div class='error' *ngIf="registerForm.controls.describe.touched">
                    <em *ngIf="registerForm.controls.describe.errors" style="color: red;">Required!</em>
                        </div>
                </div>
            </div>

            <h4>Administrator account details</h4>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputEmail"><small>Work Email</small></label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter your work email"
                           formControlName="workEmail">

                    <div class='error' *ngIf="registerForm.controls.workEmail.touched">
                    <em *ngIf="registerForm.controls.workEmail.hasError('required')" style="color: red;">Required!</em>
                    <em *ngIf="registerForm.controls.workEmail.hasError('invalidEmail')" style="color: red;">Email is invalid.</em>
                        </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="hrEmail"><small>Have Group HR Email</small>

                </label>
                <div class="col-sm-5" style="padding-top: 10px;">
                    <input type="checkbox" id="hrEmail" (change) ="ShowHideDiv($event)">
                    <a class="glyphicon glyphicon-info-sign infobtn" data-toggle="tooltip" data-placement="right"
                          data-original-title="Verification email would be sent to the entered ID with activation link and password " (mouseover)="onMyFuckingLife($event)"></a>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" id="EmailID"><small>Group HR Email ID</small>

                </label>
                <div class="col-sm-5">
                     <input ng-show="ShowHideDiv(checked)" type="text" class="form-control" id="groupEmail" placeholder="Enter HR Email ID"
                           formControlName="workEmail">

                    <div class='error' *ngIf="registerForm.controls.workEmail.touched">
                        <em *ngIf="registerForm.controls.workEmail.hasError('required')" style="color: red;">Required!</em>
                        <em *ngIf="registerForm.controls.workEmail.hasError('invalidEmail')" style="color: red;">Email is invalid.</em>
                    </div>
                </div>
            </div>`

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputAccManagerL"><small>Acc.Manager Name</small></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputAccManagerL" placeholder=""
                           formControlName="accManager">
                    <!--<small [hidden]="registerForm.controls.accManager.valid || (registerForm.controls.accManager.pristine && !submitted)" class="text-danger">-->
                        <!--Required.-->
                    <!--</small>-->
                    <div class='error' *ngIf="registerForm.controls.accManager.touched">
                    <em *ngIf="registerForm.controls.accManager.errors" style="color: red;">Required!</em>
                        </div>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">
                    <small>Password</small>
                </label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                           formControlName="password">
                    <div class='error' *ngIf="registerForm.controls.password.touched">
                        <em *ngIf="registerForm.controls.password.errors" style="color: red;">Required!</em>
                    </div>

                    <em *ngIf="registerForm.controls.password.hasError('capPasswordError')" style="color: red;">At
                        least one upper case,</em>
                    <em [hidden]="registerForm.controls.password.hasError('capPasswordError')" style="color: gray;">At
                        least one upper case,</em>

                    <em *ngIf="registerForm.controls.password.hasError('smallPasswordError')" style="color: red;">At
                        least one lower case,</em>
                    <em [hidden]="registerForm.controls.password.hasError('smallPasswordError')" style="color: gray;">At
                        least one lower case,</em>

                    <em *ngIf="registerForm.controls.password.hasError('numPasswordError')" style="color: red;">At
                        least one number,</em>
                    <em [hidden]="registerForm.controls.password.hasError('numPasswordError')" style="color: gray;">At
                        least one number,</em>

                    <em *ngIf="registerForm.controls.password.hasError('specPasswordError')" style="color: red;">At
                        least one special character,</em>
                    <em [hidden]="registerForm.controls.password.hasError('specPasswordError')" style="color: gray;">At
                        least one special character,</em>

                    <em *ngIf="registerForm.controls.password.hasError('minPasswordError')" style="color: red;">At
                        least 8 character</em>
                    <em [hidden]="registerForm.controls.password.hasError('minPasswordError')" style="color: gray;">At
                        least 8 character</em>


                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="repwd"><small>Repeat Password</small></label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="repwd" placeholder="ReEnter password"
                           formControlName="repPassword">
                    <!--<small [hidden]="registerForm.controls.repPassword.valid || (registerForm.controls.repPassword.pristine && !submitted)" class="text-danger">-->
                         <!--Required.-->
                    <!--</small>-->
                    <div class='error' *ngIf="registerForm.controls.repPassword.touched">
                        <em *ngIf="registerForm.controls.repPassword.errors" style="color: red;">Required!</em>
                        <em *ngIf="registerForm.hasError('mismatchedPasswords')" style="color: red;">Passwords do not
                            match.</em>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputPhone"><small>Phone</small></label>
                <div class="col-sm-1" style="margin-right: -20px;">
                    <input type="text"  class="form-control" id="code" placeholder="{{countryCode}}"></div>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="inputPhone" placeholder=""
                           formControlName="phone">
                    <!--<small [hidden]="registerForm.controls.phone.valid || (registerForm.controls.phone.pristine && !submitted)" class="text-danger">-->
                         <!--Required.-->
                    <!--</small>-->
                    <div class='error' *ngIf="registerForm.controls.phone.touched">
                    <em *ngIf="registerForm.controls.phone.errors" style="color: red;">Required!</em>
                        </div>
                </div>
            </div>

            <h4>Terms and Conditions</h4>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox"> <small>I agree to the </small><strong>terms and conditions</strong></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" (change)="onChangeByAgree()"><small> I agree to the </small><strong>privacy policy</strong></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <!--<a routerLink="" routerLinkActive="active">-->
                        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success">SIGN UP</button>
                </div>
            </div>

        </form>
    </div>
</section>
